*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html
{
	scroll-behavior: smooth;
}
body
{
	font-weight: 350;
	font-size: 1.5vw;
}
.container
{
	min-width: 100%;
	margin: 0vw;
	padding: 0vw;
	border: 0vw;
}
.pics
{
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 66vw;
	text-align: center;
}
.heading
{
	background-color: white;
	padding: 2.5vw 6vw;
	text-align: justify;
	position: relative;
	top: -12vw;
	margin-left: 20vw;
	margin-right: 20vw;
	margin-bottom: -7vw;
	box-shadow: 0 1.5vw 1vw -1vw #999999;
}
#contact_me
{
	top: 0vw;
	margin-top: 5vw;
	box-shadow: -1.5vw 1.5vw 1.5vw -1.5vw #999999;
	margin-left: 30vw;
	margin-right: 30vw;
	padding: 2.5vw 1vw;
}
.heading>hr
{
	border: 0.005vw solid gray; 
}
.heading>h1
{
	text-align: center;
	margin-bottom: 2.5vw;
	font-size: 2.5vw;
}
.contact-form
{
	position: relative;
	top:0vw;
	margin:0vw;
	padding: 0vw;
	text-align: center;
}
form
{
	display: inline-block;
	padding: 3vw;
	background: rgba(255, 255, 255, 0.6);
}
.form-control
{
	margin: 0vw;
	padding: 0vw;
	width: 30vw;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 0.1vw solid #011961;
	border-radius:0vw;
	color: #000;
	font-size: 1.5vw;
	font-style: inherit;
}
form .submit
{
	background: #011961;
	border-color: transparent;
	color: #fff;
	font-size: 1.5vw;
	letter-spacing: 0.25vw;
	height: 3vw;
	border-radius: 0.5vw;
	transition: background 0.25s ease-in-out;
}
form .submit:hover
{
	background: #a62936;
	transition: all 0.25s ease-in-out;
}
.footer-icon
{
	font-size: 3vw;
	color: #000;
	padding: 0vw 1vw;
	transform: rotateZ(0deg);
	transition: transform 0s ease-in-out;
}
.footer-icon:hover
{
	transform: rotateZ(720deg);
	transition: transform 1s ease-in-out;
}
.nav-item
{
	padding-right: 1vw;
}
.navbar-custom
{
	padding: 0.5vw 0.5vw;
	padding-left: 1vw;
	border-radius: 0vw 0vw 1.25vw 1.25vw;
	box-shadow: 0 1vw 1vw -1vw #999999;
	background-color: rgba(255, 255, 255, 0.9);
}
.navbar-custom .nav-item:hover .nav-link,
.navbar-custom .nav-item:active .nav-link
{
	color: black;
	font-weight: 400;
}
.navbar-custom .nav-item .nav-link
{
	font-weight: 400;
}
.navbar-custom .nav-item::before
{
	display:block;
	content: '';
	border-top: solid 0.2vw #000;  
	transform: scaleX(0);
}
.navbar-custom .nav-item:hover::before
{
	transform: scaleX(1);
	border-top: solid 0.1vw #fff;
	transition: transform 0.75s ease-in-out, border-top 0.75s ease-in-out 0.25s;
}